:root{
    --red: #E76F51;
    --orange: #F4A261;
    --yellow: #E9C46A;
    --cyan: #2A9D8F;
    --blue: #264653;
    --black: #242424;
    --blurpule: #5865f2;
    --white: #ffffff;
    --hover: #4e4949;
    --title-size: 5;
}
body{
    background-color: var(--black);
}
a{
    text-decoration: none;
}
button{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    background-color: var(--blurpule);
    border-style: hidden;
    border-radius: 1.5rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    transition-duration: 0.5s;
}
button:hover{
    background-color: var(--hover);
}
.delete{
    background-color: var(--red);
}
.save{
    background-color: var(--cyan);
}
.rename{
    background-color: var(--yellow);
}
input{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--black);
    border-style: hidden;
    border-radius: 1.5rem;
    color: var(--orange);
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--blurpule);
    transition-duration: 0.5s;
}
textarea{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: var(--black);
    border-style: hidden;
    border-radius: 1.5rem;
    color: var(--orange);
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--blurpule);
    transition-duration: 0.5s;
    align-self: center;
}
.title{
    font-size: 5rem;
    text-align: center;
    color: var(--red);
    font-weight: bold;
}
.snips{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2rem;
}
.snip{
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    padding: 1rem;
    color: var(--orange);
    border: 0.5rem var(--blurpule) solid;
    margin: 1rem;
    width: 300px;
    transition-duration: 0.5s;
    height: 30rem;
}
.name{
    font-size: 2rem;
    text-align: center;
    /* don't touch it works */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -------------------- */
}
.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}