<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{book['name']}} | Jottley</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/book.css">
    <link rel="icon" href="/static/Jottley.png">
</head>
<body>
    <div class="title">{{book['name']}}</div>
    <div class="actions">
        <button class="delete" onclick="deleteBook()">
            Delete Book
        </button>
        <button class="rename" onclick="renameBook()">
            Rename Book
        </button>
    </div>
    <form action="/newchapter/{{book['_id']}}" method="post">
        <input type="text" name="name" id="">
        <button type="submit" class="save">Create Chapter</button>
    </form>
    <div class="head">Chapters</div>
    <div class="chapters">
        {% for chapter in chapters %}
        <a href="/book/{{book['_id']}}/{{chapter['_id']}}">
            <div class="chapter">
                <div class="name">{{chapter["name"]}}</div>
                <div class="snip">Snips: {{chapter["snippets"] | length}}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    <script>
        function deleteBook() {
            agree = confirm("Are you sure you want to delete this book?");
            if (agree) {
                $.ajax({
                    url: "/delete/book?bookID={{book['_id']}}",
                    method: "POST",
                    success: function(data) {
                        window.location.href = "/books";
                    }
                });
            }
        }
        
        function renameBook() {
            name = prompt("Enter new name");
            if (name != null) {
                $.ajax({
                    url: "/edit/book?bookID={{book['_id']}}&name=" + name,
                    method: "POST",
                    success: function(data) {
                        window.location.href = "/book/{{book['_id']}}";
                    }
                });
            }
        }
    </script>
</body>
</html>
