<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{chapter['name']}} | Jottley</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/chapter.css">
    <script src="/static/js/chapter.js"></script>
</head>
<body>
    <div class="title">{{chapter['name']}}</div>
    <div class="actions">
        <button class="delete" onclick="deleteChapter()">
            Delete Chapter
        </button>
        <button class="rename" onclick="renameChapter()">
            Rename Chapter
        </button>
    </div>
    <form action="/newSnippet/{{book['_id']}}/{{chapter['_id']}}" method="post">
       <input type="text" name="name" id="">
       <button type="submit" class="save">Create Snippet</button>
    </form>
    <div class="snips">
        {% for snip in snippets %}
        <div class="snip">
            <div class="name">{{snip['name']}}</div>
            <textarea rows="13">{{snip['content']}}</textarea>
            <button class="delete">Delete Snippet</button>
            <button class="save">Save Snippet</button>
            <button class="rename">Rename Snippet</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>
