<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{chapter['name']}} | Jottley</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/chapter.css">
</head>
<body>
    <div class="title">{{chapter['name']}}</div>
    <div class="actions">
        <button class="delete" onclick="deleteChapter()">
            Delete Chapter
        </button>
        <button class="rename" onclick="renameChapter()">
            Rename Chapter
        </button>
    </div>
    <form action="/newSnippet/{{book['_id']}}/{{chapter['_id']}}" method="post">
       <input type="text" name="name" id="">
       <button type="submit" class="save">Create Snippet</button>
    </form>
    <div class="snips">
        {% for snip in snippets %}
        <a href="/book/{{book['_id']}}/{{chapter['_id']}}/{{snip['_id']}}"><div class="snip">
            <div class="name">{{snip['name']}}</div>
            <div class="description">{{snip['content']}}</div>
        </div></a>
        {% endfor %}
    </div>
    <script>
        function deleteChapter() {
            agree = confirm("Are you sure you want to delete this Chapter?");
            if (agree) {
                $.ajax({
                    url: "/delete/chapter?bookID={{book['_id']}}&chapterID={{chapter['_id']}}",
                    method: "POST",
                    success: function(data) {
                        window.location.href = "/book/{{book['_id']}}";
                    }
                });
            }
        }
        function renameChapter() {
            name = prompt("Enter new name");
            if (name != null) {
                $.ajax({
                    url: "/edit/chapter?bookID={{book['_id']}}&name=" + name + "&chapterID={{chapter['_id']}}",
                    method: "POST",
                    success: function(data) {
                        window.location.href = "/book/{{book['_id']}}/{{chapter['_id']}}";
                    }
                });
            }
        }
    </script>
</body>
</html>
