<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jottley Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/Jottley.png">
    <script src="/static/js/index.js"></script>
</head>
<body>
    <div class="image"><img src="/static/Jottley.png" alt="Jottley" width="200"></div>
    <div class="title">Welcome to Jottley</div>
    <div class="description">
        A Simple Notes/Snippets making web app
    </div>
    <div class="button">
        <button class="sign discord">
            Sign In / Sign Up with Discord
        </button>

        <br>

        <button class="sign google">
            Sign In / Sign Up with Google
        </button>
    </div>
</body>
</html>
