<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jottley Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/user.css">
    <script src="/static/js/user.js"></script>
</head>
<body>
    <div>
        <div class="hello"><div class="title">Welcome</div><div class="name">{{user['username']}}</div></div>
        <div class="actions">
            <button type="submit" class="nameButton">Change name</button>
            <a href="/logout"><button class="logout">Logout</button></a>
        </div>
        <div class="books-title">Books</div>
        <form action="/newBook" method="post">
            <input type="text" name="name" id="">
            <button type="submit" class="save">Create Book</button>
        </form>
        <div class="books">
            {% for book in books %}
            <a href="/book/{{book['_id']}}">
                <div class="book">
                    <div class="book-name">{{book['name']}}</div>
                    <div class="book-chapter">Chapters: {{book['chapterOrder'] | length}}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
