<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jottley Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="icon" href="/static/Jottley.png">
</head>
<body>
    <div class="image"><img src="/static/Jottley.png" alt="Jottley" width="200"></div>
    <div class="hello"><div class="title">Welcome</div><div class="name">{{user['username']}}</div></div>
    <div class="actions">
        <button type="submit" class="nameButton" onclick="rename()">Change name</button>
        <button class="copykey" onclick="copyKey()">Copy Key</button>
        <a href="/logout"><button class="logout">Logout</button></a>
    </div>
    <div class="books-title">Books</div>
    <form action="/newBook" method="post">
        <input type="text" name="name" id="">
        <button type="submit" class="save">Create Book</button>
    </form>
    <div class="books">
        {% for book in books %}
        <a href="/book/{{book['_id']}}">
            <div class="book">
                <div class="book-name">{{book['name']}}</div>
                <div class="book-chapter">Chapters: {{book['chapterOrder'] | length}}</div>
            </div>
        </a>
        {% endfor %}
    </div>
    <script>
        function rename(){
            name = prompt("Enter new name");
            if (name != null) {
                $.ajax({
                    url: "/changename",
                    type: "POST",
                    data: {
                        name: name
                    },
                    success: function(data){
                        $(".hello .name").text(name);
                    }
                });
            }
        }
        function copyKey(){
            navigator.clipboard.writeText("{{user['key']}}");
            alert("Copied User Key!\nIf it didn't work: {{user['key']}}");
        }
    </script>
</body>
</html>
